---
import Layout from '../layouts/NavBar.astro'
import '../css/contacto.css'
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<Layout>    
    <div class = "contenedor-contacto">
    <div class="tarjeta-contacto">
      <h3>Contacto</h3>
      <ul>
        <li>
          <a href="mailto:angel.akkilar@gmail.com">
            <i class="fas fa-envelope"></i>
            <span> angel.akkilar@gmail.com</span>
          </a>
        </li>
        <li>
          <a href="tel:+34 626 20 65 50">
            <i class="fas fa-phone"></i>
            <span>+34 626 20 65 50</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/angel-aguilar-quiles-aab604220">
            <i class="fab fa-linkedin"></i>
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/Noloakkilarz">
            <i class="fab fa-github"></i>
            <span>GitHub</span>
          </a>
        </li>
      </ul>
    </div>
</div>
</Layout>