---
import '../css/card.css'
import Layout from '../layouts/NavBar.astro'
---

<Layout>
    <div class="container-card">
        <div class="card">
          <img src="../img/Xheyl.jpg" alt="Card Image">
          <div class="card-content">
            <h2>Ángel Aguilar</h2>
            <p>Soy una persona a la cual le cuesta estresarse, siempre intentando buscar soluciones lógicas y curioso para descubrir cosas nuevas. 
               <br>Creativo cuando se necesita y capaz de adaptarme a los cambios.</p>
          </div>
        </div>
    </div>
</Layout>
