---
import Layout from '../layouts/NavBar.astro'
import '../css/cartas.css'
---
<Layout>
    <div class="contenedor-cartas">
        <div class="carta">
          <h2>Programación</h2>
          <p class="oculto">C++ / C# / C  Java / Html  Css  </p>
        </div>
        <div class="carta">
          <h2>Idiomas</h2>
          <p class="oculto">Inglés B2 <br> Castellano nativo <br> Catalán nativo</p>
        </div>
        <div class="carta">
          <h2>Otros</h2>
          <p class="oculto">Tengo un <a href = "https://www.amazon.es/Cinco-vidas-una-historia-Alpha/dp/1671987128">libro</a> publicado</p>
        </div>
      </div>
</Layout>