---
import Layout from '../layouts/NavBar.astro'
import '../css/lista.css'
---
<Layout>
    <div class = "container-list">
        <ul class="places-list">
            <li>
            <div class="place">
            <img class="place-icon" src="../../img/Iddink.jfif" alt="Icono de lugar">
            <span class="place-name">Comercial, Iddink</span>
            <p class = "place-description"> 2022</p>
          </div>
        </li>
        </ul>
    </div>
</Layout>